<form action='<%= user_url %>' method="POST">
<label>Email
    <input type='text' name='user[email]' value=''>
</label>
<label>Password
    <input type='password' name='user[password]' value=''>
</label>
</form>