<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label>Username:
<input type="text" name="user[username]" value="<%= @user.username %>">
</label>
<label>Password:
<input type="password" name="user[password]" value="">
<BUtton>Sign Up</BUtton>

</form>
