<h1>All the Users</h1>
<ol>
  <% @users.each do |user| %>
  <li>
    <ul>
      <li> <%= user.user_name %></li>
      <li><a href="<%=user_url(user)%>">Show <%=user.user_name %> Page</a></li>
    </ul>
  </li>
  <% end %>
</ol>